@import "mixins";
@import "variables";
@import "functions";

@font-face {
    font-family: "lato";
    src: url("../fonts/Lato/Lato-Black.ttf");
}
@font-face {
    font-family: light;
    src: url("../fonts/Lato/Lato-Light.ttf");
}
@font-face {
    font-family: italic;
    src: url(../fonts/Lato/Lato-BoldItalic.ttf);
}


#navbarResponsive{
    background-color: #91dad6;
    height: 112px;;
    weight: 1920px;
    font-family: italic;
}


footer{
 background-color: $foot;
 width: 2000px ;
 height: 200px;
  
}
#lire{
    color:aliceblue;
    margin-top: -20px;
    margin-left: 10px;
}
#facebook{
    margin-top: 75px;
    margin-left: 40px;
}
#df{
color:$wh;
display: flex;
justify-content: center;
margin-left: 400px;
}
#t{color:$whe}
#k{
@extend #t
}
#l{
@extend #t
}
#m{
    @extend #t

}
#s{
    @extend #t
}
#f{
    font-family: light;
}
#imd{
    @extend #f
}
#cont{
    background-color:#f1f1f1;
}
#facebook{
    @include flex{
        
    }
}